<!DOCTYPE html>
<html lang='en'>
    <head>
        <link rel="stylesheet reset" href="../public/styles/reset.css"/> 
        <link rel="stylesheet" href="../public/styles/styles.css"/> 
    </head>
    <body>
        <nav>
            <ul>
                <li><a href='/'>Introduction</a></li>
                <li><a href='/about'>About</a></li>
                <li><a href='/works'>Education</a></li>
                <li><a href='/photo'>Pictures</a></li>
            </ul>
        </nav>

        <header>
            <img src= "../public/images/jw6.jpg" alt="Picture of Jelle">
            <h1>Jelle Wallenburg</h1>
        </header>

        <main id= "photo">
            <h1>Can I get some pictures?</h1>
            <p>None of your business</p>
        </main>
        <br>

        <footer>
            <p>More information? Contact me on <a href= 'https://www.linkedin.com/in/jellewallenburg/'>LinkedIn</a></p>
        </footer>

    </body>    
</html>